 *{
    margin: 0px;
    padding: 0px;
 }

body{
    background-color: black;
}

h1{
    text-align: center;
    font-family: cursive;
    text-decoration: underline;
    font-size: 80px;
    background-color: rgb(134, 134, 213);
    margin-bottom: 60px;
}


div{
    background-size: auto;
    display: inline-block;
    border-style: solid;
    font-family: cursive;
    font-size: xx-large;
    border-radius: 10px;
    color: rgb(134, 134, 213);
    padding: 50px;
    margin-right: 110px;
    text-align: center;
}   